.sub{
    background-color: blue;
    color: white;
     border: 2px black solid;
     text-align: left;
}

#CV{
    color: white;
    border: 2px black solid;
    background-color: red;
    text-align: center;
}

.P{
    border: 2px black solid;
    background-color:white;
    background-color: yellow;
}
  
